<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: meta-head( 'Контакты' ) "></head>
<body>
	<div class="container">
		<div th:replace="fragments/base :: navbar"></div>
		<div class="page-header">
			<h1>Список контактов</h1>
		</div>
		<div class="navbar navbar-light bg-light">
			<span class="navbar-brand">Поиск</span>
			<form th:action="@{/contacts}" th:object="${contact}" class="form-inline">
				<div class="form-row">
					<div class="col-auto">
						<input type="text" class="form-control" name="name" id="name" th:field="*{name}" placeholder="Имя">
					</div>
					<div class="col-auto">
						<input type="text" class="form-control" name="surname" id="surname" th:field="*{surname}" placeholder="Фамилия">
					</div>
					<div class="col-auto">
						<input type="text" class="form-control" name="phone" id="phone" th:field="*{phone}" placeholder="Телефон">
					</div>
					<div class="col-auto">
		     			<button type="submit" class="btn btn-primary">Искать</button>
		     			<button type="button" class="btn btn-primary" onclick="document.location.href='/contacts'">Очистить</button>
		   			</div>
				</div>
			</form>
		</div>

		<div class="row" style="margin:10px">
			<table class="table table-sm">
			  <thead>
			    <tr>
			      <th>ID</th>
			      <th>Фамилия</th>
			      <th>Имя</th>
			      <th>Отчество</th>
			      <th>Мобильный</th>
			      <th>Домашний</th>
			      <th>Email</th>
			      <th>Адрес</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="c : ${contacts}">
			      <td th:text="${c.id}">1</td>
			      <td ><a th:href="@{'/contacts/update/'+${c.id}}" th:text="${c.surname}"></a></td>
			      <td th:text="${c.name}">1</td>
			      <td th:text="${c.patronymic}">1</td>
			      <td th:text="${c.cellular}">1</td>
			      <td th:text="${c.phone}">1</td>
			      <td th:text="${c.email}">1</td>
			      <td th:text="${c.address}">1</td>
			      <td><a th:href="@{'/contacts/delete/'+${c.id}}" onclick="return confirm('удалить?')">удалить</a></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<nav>
		  <ul class="pagination" th:if="${paging != null}">
		    <th:block th:each="p : ${paging}">
		    <li th:attr="class=${p.isActive()?'page-item active':'page-item'}"><a class="page-link" th:href="@{'/contacts'+ ${p.href}}" th:text="${p.text}">1</a></li>
		    </th:block>
		  </ul>
		</nav>
	</div>
	
</body>
</html>